node_modules
bun.lockb

#WAWeb authentication session folder
.wwebjs_auth
.wwebjs_cache 
/.wwebjs_auth/
/.wwebjs_cache/

#build output dir
dist

.env
.env.production
logs
TODO.md

#googleapis credentials
credentials.json
pm2.config.js

drizzle
/drizzle/

drizzle
/drizzle/